<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="Cash Manager"/>
        <meta name="author" content="Fabiano Góes"/>
        <title>Cash</title>
        <link rel="icon" type="image/png" th:href="@{/img/cash-logo.png}" href="static/img/cash-logo.png" />
        <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/sb-admin.css}" href="static/css/sb-admin.css" rel="stylesheet"/>
        <link th:href="@{/vendor/jquery-ui/jquery-ui.css}" href="static/vendor/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css"/>
    </head>
</html>