<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- ######################################## HEADERCSS ############################################## -->
<head th:replace="fragments/header :: header"> </head>
<!-- ######################################## HEADERCSS ############################################## -->

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

    <!-- ######################################## NAVBAR ############################################## -->
    <nav th:replace="fragments/navbar :: navbar"> </nav>
    <!-- ######################################## NAVBAR ############################################## -->

    <div class="content-wrapper">

        <!-- ######################################## CONTENT ############################################## -->
        <div class="container-fluid">

            <div th:replace="fragments/dash :: dash"> </div>

            <div th:replace="fragments/alert-message :: alert-message"> </div>

            <div th:replace="register/register :: register"> </div>

        </div>
        <!-- /######################################## CONTENT ############################################## -->

        <footer th:replace="fragments/footer :: footer"> </footer>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- /Scroll to Top Button-->

        <div th:replace="fragments/logout-modal :: logout-modal"> </div>

        <!-- ######################################## FOOTERJS ############################################## -->
        <div th:replace="fragments/footerjs :: footerjs"> </div>
        <!-- ######################################## FOOTERJS ############################################## -->

    </div>
</body>

</html>