<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- ######################################## HEADERCSS ############################################## -->
<head th:replace="fragments/header :: header"> </head>
<!-- ######################################## HEADERCSS ############################################## -->


<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">
          <div class="text-center">
            <img class="" src="static/img/user.png" th:src="@{/img/user.png}" th:width="80px" th:height="80px"/>
          </div>
          <!--<span th:text="${session.title}"></span> Login-->
          <!--<img class="pull-right" src="static/img/cash-logo.png" th:src="@{/img/cash-logo.png}" th:width="30px" th:height="25px"/>-->
      </div>
      <div class="card-body">
        <form action="#" th:action="@{/login/in}" th:object="${login}" method="post">

          <div class="row">
            <div class="col-12">
              <div class="alert alert-danger alert-dismissible" role="alert" th:if="${message != null}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> <small th:text="${message}" id="idMessage"></small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <!--<label for="exampleInputEmail1">Email address</label>-->
            <input class="form-control" id="exampleInputEmail1" type="email" required="required" name="email" th:value="*{email}" aria-describedby="emailHelp" placeholder="Enter email"/>
          </div>
          <div class="form-group">
            <!--<label for="exampleInputPassword1">Password</label>-->
            <input class="form-control" id="exampleInputPassword1" type="password" minlength="6" maxlength="30" required="required" name="password" th:value="*{password}" placeholder="Password"/>
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"/> <small>Remember Password</small>
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-info btn-block">Login</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register/register.html">Register an Account</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>

            <div>
                <hr/>
                <div class="pull-left">
                    <img src="static/img/cash-logo.png" th:src="@{/img/cash-logo.png}" th:width="30px" th:height="20px"/>
                    <small>Copyright © Fabiano Góes 2018</small>
                </div>
                <small class="pull-right" th:text="${session.version}"></small>
            </div>

        </div>

      </div>
    </div>
  </div>

  <!-- ######################################## FOOTERJS ############################################## -->
  <div th:replace="fragments/footerjs :: footerjs"> </div>
  <!-- ######################################## FOOTERJS ############################################## -->

</body>

</html>
