<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="Cash Manager"/>
  <meta name="author" content="Fabiano Góes"/>
  <title>Cash</title>
  <link rel="icon" type="image/png" th:href="@{/img/cash-logo.png}" href="static/img/cash-logo.png" />
  <!-- Bootstrap core CSS-->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin.css}" href="static/css/sb-admin.css" rel="stylesheet"/>
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">
          <span th:text="${session.title}"></span> Login
        <img class="pull-right" src="static/img/cash-logo.png" th:src="@{/img/cash-logo.png}" th:width="30px" th:height="25px"/>
      </div>
      <div class="card-body">
        <form action="#" th:action="@{/login/in}" th:object="${login}" method="post">

          <div class="row">
            <div class="col-12">
              <div class="alert alert-danger alert-dismissible" role="alert" th:if="${message != null}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> <small th:text="${message}" id="idMessage"></small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input class="form-control" id="exampleInputEmail1" type="email" required="required" name="email" th:value="*{email}" aria-describedby="emailHelp" placeholder="Enter email"/>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" id="exampleInputPassword1" type="password" required="required" name="password" th:value="*{password}" placeholder="Password"/>
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"/> Remember Password</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>

            <div>
                <hr/>
                <div class="pull-left">
                    <img src="static/img/cash-logo.png" th:src="@{/img/cash-logo.png}" th:width="30px" th:height="20px"/>
                    <small>Copyright © Fabiano Góes 2018</small>
                </div>
                <small class="pull-right" th:text="${session.version}"></small>
            </div>

        </div>

      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}" src="static/vendor/jquery/jquery.min.js"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}" src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom scripts for this page-->
  <!--<script th:src="@{js/sb-admin-datatables.min.js}" src="static/js/sb-admin-datatables.min.js"></script>-->
  <script th:src="@{/vendor/jquery-mask-plugin/src/jquery.mask.js}" src="static/vendor/jquery-mask-plugin/dist/jquery.mask.js"></script>
  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}" src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script th:src="@{/vendor/sweetalert/sweetalert.min.js}" src="static/vendor/sweetalert/sweetalert.min.js"></script>
  <script>
      $(document).ready(function(){
          // swal("Good job!", "You clicked the button!", "success");
          $('.placeholder').mask("00/00/0000", {placeholder: "__/__/____"});
          $('.money2').mask("##0.00", {reverse: true});

          if($('#idMessage').text()){
              swal("Attention", $('#idMessage').text(), "error");
          }

      });
  </script>

</body>

</html>
